<html>
<head>
    <style>
        html {
            height: 134px;
            width: 290px;
        }
        body {
            color: #ffffff;
            background-image: url('http://localhost:8080/idCard.jpeg');
            background-repeat: no-repeat;
        }
        table {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td style="padding-top: 30px; padding-left: 15px">User Name:</td>
            <td style="padding-top: 30px; padding-left: 70px">${userName}</td>
        </tr>
        <tr>
            <td style="padding-left: 15px">User Id:</td>
            <td style="padding-left: 70px">${userId}</td>
        </tr>
    </table>
</body>
</html>